/* General styles */

body {/*general positioning and styling for entire page, as well as background picture*/
	margin: 0;
	font-family: 'Balsamiq Sans', 'Montserrat', cursive;
	background: url("sea-edge-79ab30e2.png") no-repeat center center fixed;
	background-size: cover;
	
}

.logo {/*setting up my name at top of page as my logo*/
	font-family: 'Sriracha', 'Montserrat', cursive;
	font-size: 72px;
	color: #F0F8FF;
	text-align: center;
	letter-spacing: 0;
	margin: 0;
	padding: 20px 0 0 0;
}

header {/*setting height and coloring for header*/
	height: 140px;
	/*background-color: #00FFFF;*//*commenting out code not currently being used*/
	background-image: linear-gradient(to bottom left, #9400D3, #48D1CC);
}

header h2 {
	font-family: 'Montserrat', sans-serif;
	color: #F0F8FF;
	margin: 0;
	font-size: 18px;
	text-align: center;
}

main {
	/*background-color: #CCCCCC;*//*commenting out code not currently being used*/
}

footer {/*setting color for bottom footer section*/
	/*background-color: #8A2BE2;*/
	background-image: linear-gradient(to top right, #48D1CC, #9400D3);
}
	
section {/*setting container sizing for sections within about sections*/
	padding: 0 25%;
	margin: 80px 0;
}

hr {/*changing the style of the thematic breaks*/
	border: none;
	border-top: 1px dashed #14A098;
	color: #F0F8FF;
	background-color: #14A098;
	height: 2px;
	width: 75%;
	margin: 0 auto;
}

nav {/*setting the nav bar to have fixed links, sit at the top, and sit to the right*/
	float: right;
	position: fixed;
	text-align: right;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 1;
	height: 20px;
}

nav a {/*indexing the anchors within the nav bar, and sizing their containers*/
	padding: 10px;
	margin: 0 auto;
	z-index: 999;
}

footer div {
	display: inline-block;
	width: 100%;
	padding: 10px 0 0 0;
}

footer a {/*spacing the anchors within the footer nav bar*/
	display: inline-block;
	width: 33%;
	text-align: center;
	padding: 10px 0 0 0;
}

section #home {
	align: left;
}



/* Type */

h1, h2, h3 {
	font-family: 'Balsamiq Sans', 'Montserrat', sans-serif;
	color: #FFFFFF;
	text-align: center;
	font-weight: 500;
}

h1 { font-size: 28px; }
h2 { font-size: 26px; }
h3 { font-size: 18px; }

ol li {
	font-family: 'Balsamiq Sans', 'Montserrat', sans-serif;
	color: #FFFFFF;
	line-height: 1.5em;
	margin-bottom: 0;
}
/*setting up the colors and fonts as well as backup fonts for all paragraph elements and list items (above and below this comment)*/
p, li {
	font-family: 'Montserrat', sans-serif;
	color: #FFFFFF;
	line-height: 1.5em;
	margin-bottom: 0;
}

a {
	font-weight: 700;
	text-decoration: none;
}/*setting psuedo-classes for anchor elements*/
a:link { color: #F0F8FF; }
a:visited { color: #F0F8FF; }
a:hover { color: #00FFFF; }
a:active { color: #00FFFF; }
a:hover {
	text-decoration: underline;
}

footer p {/*styling the copyright statement at the bottom of the page*/
	color: #00FFFF;
	text-align: center;
	padding: 30px;
	margin: 0;
}

img {/*placing border and sizing the profile photo*/
	width: 100%;
	border-radius: 8px;
	border: 1px solid #00FFFF;
}

.border-top {
	padding-top: 80px;
	border-top: 2px solid #00FFFF;
}







