/* General styles */

body {
	margin: 0;
	font-family: 'Balsamiq Sans', 'Montserrat', cursive;
	background-image: url ();
}

.logo {
	font-family: 'Sriracha', 'Montserrat', cursive;
	font-size: 72px;
	color: #CB2D6F;
	text-align: center;
	letter-spacing: 0;
	margin: 0;
	padding: 20px 0 0 0;
}

header {
	height: 140px;
	background-color: #501F3A;
	background-image: url ();
}

header h2 {
	font-family: 'Montserrat', sans-serif;
	color: #CB2D6F;
	margin: 0;
	font-size: 18px;
	text-align: center;
}

main {
	background-color: #CCCCCC;
}

footer {
	background-color: #0F292F;
	background-image: url ();
}
	
section {
	padding: 0 25%;
	margin: 80px 0;
}

hr {
	border: none;
	border-top: 1px dashed #14A098;
	color: #14A098;
	background-color: #14A098;
	height: 2px;
	width: 75%;
	margin: 0 auto;
}

nav {
	float: right;
	position: fixed;
	top: 10px;
	right: 0px;
	overflow: hidden;
	width: 100%;
	padding: 10px;
	margin: 10px;
	background-color: #501F3A;
	z-index: 999;
}






/* Type */

h1, h2, h3 {
	font-family: 'Balsamiq Sans', 'Montserrat', sans-serif;
	color: #CB2D6F;
	text-align: center;
	font-weight: 500;
}

h1 { font-size: 28px; }
h2 { font-size: 26px; }
h3 { font-size: 18px; }

ol li {
	font-family: 'Balsamiq Sans', 'Montserrat', sans-serif;
	color: #501F3A;
	line-height: 1.5em;
	margin-bottom: 0;
}

p, li {
	font-family: 'Montserrat', sans-serif;
	color: #501F3A;
	line-height: 1.5em;
	margin-bottom: 0;
}

a {
	font-weight: 700;
	text-decoration: none;
}
a:link { color: #14A098; }
a:visited { color: #14A098; }
a:hover { color: #CB2D6F; }
a:active { color: #CB2D6F; }
a:hover {
	text-decoration: underline;
}

footer p {
	color: #14A098;
	text-align: center;
	padding: 30px;
	margin: 0;
}

img {
	width: 100%;
	border-radius: 8px;
	border: 1px solid #CB2D6F;
}

.border-top {
	padding-top: 80px;
	border-top: 2px solid #0F292F;
}







